<div class="container">
  <h2 class="text-center my-4 title">Mes réservations</h2>


  <div class="row ">
    <div class="col-8">
      <% @bookings.each do |booking| %>
        <div class="mb-4">
          <div class="card booking-card">
            <div class="card-body">
              <h4 class="card-title"><%= booking.board.name.upcase %></h4>
              <p class="card-text">
              Planche louée pendant <%= (booking.date_end - booking.date_start).to_i %> jours auprès de <%= booking.board.user.first_name.upcase %> .
            </p>
            </div>
            <div class="card-footer text-muted">
              <div class="price-icon">
                <i class="fas fa-coins"></i>
                <%= (booking.board.price * (booking.date_end - booking.date_start)) %> euros
              </div>
              <div>
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-avis" data-bs-toggle="modal" data-bs-target="#<%= dom_id(booking.board) %>">
                    Laisser un avis
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="#<%= dom_id(booking.board) %>" tabindex="-1" aria-labelledby="<%= dom_id(booking.board) %>Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Laisser mon avis</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                            <%= simple_form_for [booking.board, @review], html: { class: 'custom-form' } do |f| %>
                              <h1 class="text-center mb-4 title">Ajoute ton avis sur la planche</h1>
                              <%= f.input :comment, label: 'Commentaire' %>
                              <%= f.input :rating, as: :select, collection: Review::RATINGS, label: 'Note sur 5', input_html: {data: {controller: "star-rating"}} %>
                              <%= f.submit "Valide ton avis", class: "btn btn-primary mt-3" %>
                              <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="date-icon">
                <i class="fas fa-calendar-alt"></i> <%= booking.date_start.strftime('%d/%m/%Y') %> - <%= booking.date_end.strftime('%d/%m/%Y') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
       <div class="mb-4 sticky-card">
        <div class="card summary-card">
          <div class="card-body ">
            <h5 class="card-title">Récapitulatif</h5>
            <p class="card-text">Nombre de réservations : <%= @bookings.count %></p>
            <p class="card-text">Dépenses total : <%= @bookings.sum { |booking| booking.board.price * (booking.date_end - booking.date_start) } %> euros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
