<div class="container">
  <h2 class="text-center my-4 title">Mes locataires</h2>


  <div class="row ">
    <div class="col-8">
      <% @bookings.each do |booking| %>
        <div class="mb-4">
          <div class="card booking-card">
            <div class="card-body">
              <h4 class="card-title"> <%= link_to booking.board.name.upcase, board_path(booking.board) %></h4>
              <p class="card-text">
              Planche louée pendant <%= (booking.date_end - booking.date_start).to_i %> jours par <%= booking.user.first_name.upcase %>.
            </p>
            </div>
            <div class="card-footer text-muted">
              <div class="price-icon">
                <i class="fas fa-coins"></i>
                <%= (booking.board.price * (booking.date_end - booking.date_start)) %> euros
              </div>
              <div class="date-icon">
                <i class="fas fa-calendar-alt"></i> <%= booking.date_start.strftime('%d/%m/%Y') %> - <%= booking.date_end.strftime('%d/%m/%Y') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
       <div class="mb-4 sticky-card">
        <div class="card summary-card">
          <div class="card-body ">
            <h5 class="card-title">Récapitulatif</h5>
            <p class="card-text">Nombre de locataires : <%= @bookings.count %></p>
            <p class="card-text">Gain total : <%= @bookings.sum { |booking| booking.board.price * (booking.date_end - booking.date_start) } %> euros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
