<div class="container">
<h2 class="title my-4" style='text-align: center'>Mes planches</h2>
<ul>
       <div class="cards">
        <% @boards.each do |board| %>
          <div class="card-white">
            <div class="card-img">
              <% if board.photos.attached? %>
              <%= cl_image_tag board.photos.first.key, height: 200, width: 150, crop: :fill %>
              <% else  %>
              <img src="https://fr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-lv-x-yk-planche-de-surf-sport-et-lifestyle--R96912_PM2_Front%20view.jpg" width="150" height="200" alt="">
              <% end %>
            </div>
            <div class="content">
              <div class="name">
               <h6><strong><%= board.name.upcase %></strong></h6>
              </div>
              <div class="category">
               <p> <strong>Categorie :</strong> <%= board.board_type %></p>
              </div>
              <div class="price_rating">
                <div class="rating">
                  <%= render "shared/star_rating", board: board %>
                </div>

                <p class="price"> <strong><%= board.price %> </strong><i class="fa-solid fa-euro-sign" style="color: #8197f8;"></i></p>
               </div>
          <div class="d-flex mt-2">
            <%= link_to "Modifier", edit_admin_board_path(board), class: "btn btn-primary" %>
            <%= link_to "Supprimer", admin_board_path(board), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        <% end %>
         </div>
      </div>
  </ul>


</div>
