<div class="container">
  <div class="row justify-content-center">
    <%= simple_form_for [board, booking], html: { class: 'custom-form' } do |f| %>
      <h1 class="text-center mb-4">Réserve ta planche de surf</h1>
      <%= f.input :date_start, label: 'Date de début', as: :string, input_html: { data: { controller: "datepicker", reservation_modal_target: 'inputStartDate' } } %>
      <%= f.input :date_end, label: 'Date de fin', as: :string, input_html: { data: { controller: "datepicker", reservation_modal_target: 'inputEndDate'  } } %>
      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#bookingConfirmation" data-action='click->reservation-modal#displayContent'>
        Valider
      </button>
      <div class="modal fade" id="bookingConfirmation" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reservationModalLabel">Récapitulatif de la réservation</h5>
              </button>
            </div>
            <div class="modal-body modal-padding">
              <p>Vous êtes sur le point de valider la location suivante :</p>
              <div class="">
              <ul>

                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <li>Date de début :
                  </div>
                  <div>
                    <strong>
                    <span data-reservation-modal-target="startDate"></span> </strong></li>
                  </div>
                </div>

                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <li>Date de fin :
                  </div>
                  <div>
                  <strong>
                    <span data-reservation-modal-target="endDate"></span> </strong></li>
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                  <div>
                     <li>Durée de la location :
                    </div>
                    <div>
                      <strong>
                        <span data-reservation-modal-target="totalDays"></span> jours </strong></li>
                    </div>
                  </div>
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <li>Total de votre réservation :
                  </div>
                  <div>
                    <strong>
                     <span data-reservation-modal-target="totalPrice"></span>€ </strong></li>
                  </div>
                </div>
              </ul>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <%= link_to "Annuler", board_path(board), class: "btn btn-warning btn-cancel mt-3", data: { dismiss: "modal" } %>
              <%= f.button :submit, "Valide ta réservation", class: "btn btn-primary mt-3", data: { toggle: "modal", target: "reservation-modal.modal" } %>
            </div>
          </div>
        </div>
      </div>

      <%#= f.button :submit, "Valide ta réservation", class: "btn btn-primary mt-3", data: { toggle: "modal", target: "reservation-modal.modal" } %>
    <% end %>
  </div>
</div>
