<div class="background">
  <h1 style='text-align: center'>Liste des planches disponibles</h1>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: boards_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Filtre par type de planche (shortboard, longboard, fish)"
        %>
      <%= submit_tag "Filtrer", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<h5 class="card-text mx-3 my-3"><strong> <%= @boards.count %> </strong>planches sont disponibles actuellement</h5>

<div class="row">
  <div class="col-8">
    <%= render 'shared/index' %>
  </div>
<div class="col-4">
  <div class="mapbox sticky-card"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  </div>
</div>
