<div class="container-fluid row justify-content-center">
<h2 style='text-align: center'><%= @board.name.upcase %></h2>
  <% if @board.photos.attached? %>

    <div id="carouselExampleControls" class="carousel slide col-6" data-bs-ride="carousel" width="">
        <div class="carousel-inner mt-5">
          <% @board.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%='active' if index == 0 %>">
              <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class:'d-block show-img' %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon arrow-color" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon arrow-color" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
        </button>
      <% end %>
    <div class="mt-5">
<h3>Type de planche: <%= @board.board_type.capitalize %></h3>
<p>Description: <%= @board.description.capitalize %></p>
<p>Prix par jour: <%= @board.price %> Euros</p>
<a href="#" class="btn btn-lg btn-surf" role="button">Réserver</a>
</div>
<p>---------------------------------------------------</p>

<%= link_to "Back to the list", boards_path %>
</div>
<p>Lorem, ipsum dolor sit amet consectetur <br> <br><br><br><br> <br><br><br><br><br><br><br><br> <br> adipisicing elit. At cupiditate eveniet non odio sequi placeat esse. Id est consequatur, optio, facilis corporis, quisquam cum nesciunt quas nihil natus nulla obcaecati.</p>
