<div class="container-fluid row justify-content-center "data-controller="toggle">
  <h2 class="my-3" style='text-align: center'><%= @board.name.upcase %></h2>
    <div class="product-info row my-3 justify-content-center">
      <div class="carroussel col-7">
        <div class="cards-white">

          <% if @board.photos.attached? %>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" width="">
                  <div class="carousel-inner mt-5">
                    <% @board.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%='active' if index == 0 %>">
                        <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class:'d-block show-img' %>
                      </div>
                    <% end %>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon arrow-color" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon arrow-color" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                    </button>
                  </div>
                </div>
          <% end %>

        </div>
      </div>
      <div class=" col-4">
      <div class="cards-white d-flex flex-column justify-content-between">
        <div class="d-flex flex-column gap-3">
          <h3>Type de planche: <%= @board.board_type.capitalize %></h3>
          <% if @board.description? %>
          <p>Description: <%= @board.description.capitalize %></p>
          <% end %>
        </div>
        <div class="d-flex flex-column gap-3">
          <p>Prix par jour: <strong><%= @board.price %> </strong><i class="fa-solid fa-euro-sign" style="color: #8197f8;"></i></p>

          <%= render "shared/star_rating", board: @board %>

            <div class="d-flex justify-content-start p5">
              <button data-action="click->toggle#fire" class="btn btn-lg btn-surf">Réserver</button>
            </div>
          </div>

      </div>
      </div>
      <div class="large my-3 d-flex justify-content-center " data-controller="reservation-modal" data-reservation-modal-price-value="<%=@board.price%>">
        <div data-toggle-target="togglableElement" class="d-none">
          <%= render 'form', board: @board, booking: @booking %>
        </div>
      </div>




  <div class="row justify-content-center align-items-center">
    <div class="col-7">
      <div class="d-flex justify-content-center">
        <div class="user-info p-3">
          <h5> A propos du loueur :</h5>
          <div class="d-flex align-items-center justify-content-evenly">
            <div class="img-avatar">
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="profile picture">
            </div>

            <div class="content">
              <p>nom : <strong><%= @board.user.first_name %> <%= @board.user.last_name %></strong></p>
              <p>localisation : <strong><%= @board.user.location %> </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="mapbox-show sticky-card"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
<% if @board.reviews.exists? %>
  <div class="mt-5 ms-5">
    <h3>Les avis des précédents loueurs</h3>
      <% @board.reviews.each do |review|%>
      <div class="card-white">
      <p><b>Commentaire :  </b> <%= review.comment.capitalize %></p>
      <p><b>Note :  </b> <% review.rating.to_i.times do %>
        <i class="fa-solid fa-star" style="color: #6be897;"></i>
        <% end %> <%=review.rating%>/5</p>
      </div>
      <% end %>
  </div>
  <% else %>
    <div class="mt-5 ms-5">
    <h5>Cette nouvelle planche n'a pas encore d'avis</h5>
    </div>
  <% end %>
</div>
</div>
