<h2><%= @board.name %></h2>

<h3>Type de planche: <%= @board.board_type %></h3>
<p>Description: <%= @board.description %></p>
<p>Prix par jour: <%= @board.price %> Euros</p>
<p>---------------------------------------------------</p>

<%= link_to "Back to the list", boards_path %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for [@board, @booking], html: { class: 'custom-form' } do |f| %>
        <h1 class="text-center mb-4">Booking your board</h1>
        <%= f.input :date_start, label: 'Date Start' %>
        <%= f.input :date_end, label: 'Date End', input_html: { rows: 4 } %>

        <%= f.submit "Submit Board", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
